#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define SYMB    1
#define NAV     2
#define NUM     3
#define BLUE    4

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp TAB           &kp Q  &kp W  &kp E             &kp R      &kp T    &kp Y  &kp U          &kp I          &kp O    &kp P      &kp ENTER
&kp LEFT_SHIFT    &kp A  &kp S  &kp D             &kp F      &kp G    &kp H  &kp J          &kp K          &kp L    &kp SEMI   &kp SQT
&kp LEFT_CONTROL  &kp Z  &kp X  &kp C             &kp V      &kp B    &kp N  &kp M          &kp COMMA      &kp DOT  &kp SLASH  &kp RIGHT_SHIFT
                                &kp LEFT_COMMAND  &kp SPACE  &mo 1    &mo 2  &kp BACKSPACE  &kp RIGHT_ALT
            >;
        };

        symbols {
            bindings = <
&kp TAB           &kp F2          &trans          &trans          &trans                &trans                   &kp GRAVE  &kp FSLH  &kp LPAR  &kp RPAR  &none   &trans
&kp LEFT_SHIFT    &kp F7          &trans          &kp UP_ARROW    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS    &trans     &kp SQT   &kp LBKT  &kp RBKT  &trans  &trans
&kp LEFT_CONTROL  &kp KP_NUMLOCK  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW       &kp EQUAL                &trans     &kp BSLH  &trans    &trans    &trans  &trans
                                                  &trans          &trans                &trans                   &trans     &trans    &trans
            >;
        };

        navi {
            bindings = <
&trans  &none      &none      &none   &none    &trans    &trans    &none     &kp DEL   &none      &none   &trans
&trans  &kp LSHFT  &kp GRAVE  &none   &kp TAB  &none     &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT  &trans  &trans
&trans  &none      &none      &none   &none    &none     &none     &none     &kp BSPC  &none      &trans  &trans
                              &trans  &trans   &trans    &trans    &trans    &trans
            >;
        };

        numbers {
            bindings = <
&trans  &none  &kp N7  &kp N8  &kp N9  &kp N0    &kp DOT    &kp N7  &kp N8  &kp N9  &kp N0    &trans
&trans  &none  &kp N3  &kp N4  &kp N5  &none     &kp MINUS  &kp N4  &kp N5  &kp N6  &kp FSLH  &trans
&trans  &none  &kp N1  &kp N2  &kp N3  &none     &kp EQUAL  &kp N1  &kp N2  &kp N3  &kp STAR  &trans
                       &trans  &trans  &trans    &trans     &trans  &trans
            >;
        };

        // This layer is for easier copy/paste when creating new keymaps, so you have transparent keys already added
    };
};
